langchain
langsmith
langgraph
langchain_community
langchain_core
langchain_groq
langchain-huggingface
langchain_cohere
langchain_pinecone
bs4
requests
beautifulsoup4
pydantic
langchain-text-splitters
python-dotenv
PyYAML
fastapi
redis
uvicorn
motor
pymongo
streamlit
httpx
requests
python-multipart
sentence-transformers
pypdf
prometheus-client